/* @import url('../node_modules/@safe-global/safe-react-components/dist/fonts.css'); */


.App {
    /* border: solid blue; */
    /* background-color: rgb(235, 233, 233); */
    display:flex;
    flex-direction: column;
    /* align-items:flex-center; */

}

/* so the body is in a raw */
.App_body{
    display:flex;
    margin-top: 35px;
    margin-left: 20px;
    margin-right: 20px;
    /* max-width: 1200px; */
    /* max-width: 100rem; */
    max-width: 1200px;
    border: solid blue;
    /* background-color: rgb(235, 233, 233); */
  }

/* so the body is in a raw */
